<div class="todo-container">
    <h1>To do list</h1>
    <app-todo-progress [currentNumber]="taskList.length"></app-todo-progress>
    <!-- <form>
        <mat-form-field>
          <mat-label>Your Task:</mat-label>
          <input matInput [(ngModel)]="newTask" name="newTask" >
        </mat-form-field>
    </form> -->
    <button mat-raised-button color="primary" (click)="addTask()" *ngIf="!editing">Add task</button>
    <button mat-raised-button color="primary" (click)="saveTask()" *ngIf="editing">Save</button>
    <button mat-raised-button color="primary" (click)="cancel()" *ngIf="editing">Cancel</button>
    <ng-container *ngFor="let task of taskList">    
        <app-todo-task [task]="task" (remove)="removeTask($event)" (edit)="editTask($event)"></app-todo-task>
    </ng-container>
</div>