<div class="wrapper">
    <h1>To do login</h1>
    <form class="loginForm" [formGroup]="form">
            <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControl]="form.controls.email" class="input">
            <mat-error *ngIf="form.controls.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" [formControl]="form.controls.password" class="input">
            <mat-error *ngIf="form.controls.password.hasError('required')">
                Please enter password
            </mat-error>
            <!-- <mat-error *ngIf="form.controls.password.hasError('invalid')">
                Please enter password with 1 capitalised letter, 1 decimal and latin letters
            </mat-error> -->
            <mat-error *ngIf="form.controls.password.hasError('minlength')">
                Please enter password with 8 letters
            </mat-error>
        </mat-form-field>  
        <button mat-button type="submit" color="primary" (click)="login()">
            Login
        </button>
    </form>
</div>