:host
{
    .wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;    
    }
    .loginForm
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        gap:24px;
        width: 500px;
    }
    .input
    {
        width: 100%;
    }
}