.completed
{
    text-decoration: line-through;
    opacity: 0.5;
}
.task-wrapper
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.taskDiv
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}